.row
  .col-md-1.d-none.d-md-block
  .col-md-10.col-xs-12
    .row
      .col-md-4.text-center.my-5
        #react-clock.my-0
        #react-daylight-info
      .col-md-8.col-xs-12
        #react-weather
    .row
      .col-md-4
        -#.mb-5
          -##react-todo
        #react-nicehash-stats

// add todo, sites, countdown, reddit tldr

:javascript
  document.data = document.data || {};
  document.data.daylightInfo = #{daylight_info.to_json};
  document.data.todo = #{todos.to_json};
