= cache(expires_in: 1.day) do
  .row
    .col-md-1.d-none.d-md-block
    .col-md-10.col-xs-12
      .row.d-none.d-md-flex
        .col-md-4.text-center.my-5
          #react-clock.my-0
          #react-daylight-info
        .col-md-8.col-xs-12
          #react-weather
      .row
        .col-md-8.order-1.order-md-2
          #react-links
        .col-md-4.order-2.order-md-1
          .mb-md-5
            #react-nicehash-stats
          .mb-md-5
            #react-reddit-tldr
          #react-upcoming-events

  :javascript
    document.data = document.data || {};
    document.data.daylightInfo = #{daylight_info.to_json};
