// TODO: break up

.daylight-event-time {
  font-weight: 600;
}

.daylight-event-sunrise {
  @extend .daylight-event-time;
  color: rgb(229, 148, 0);
}

.daylight-event-sunset {
  @extend .daylight-event-time;
  color: blue;
}

.clock {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.0;
}

.weather {
  position: relative;
}

.weather-refreshed-ago {
  @extend .text-right;
  @extend .text-muted;
  line-height: 1.0;
  font-size: .8rem;

  position: relative;
  bottom: 32px;
  right: 19px
}

.todo-heading {
  font-size: 1.25rem;
  font-weight: 600;
}

.todo-list {
  @extend .list-unstyled;
}

.todo-item {
  @extend .my-1;
}

.nicehash-stats-heading {
  @extend .todo-heading;
  @extend .mb-2
}

.nicehash-stats-list {
  @extend .row;

  dt {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .col-6;
    @extend .mb-1;
    font-weight: 500;
  }

  dd {
    @extend .col-6;
    @extend .text-right;
    @extend .mb-1;
  }
}

.nicehash-stats-value {
  font-size: 125%;
  font-weight: 600;
}

.nicehash-stats-units {
  font-weight: 600;
}

// reddit-tldr

.reddit-tldr-heading {
  @extend .todo-heading;
  @extend .mb-2;
}

.reddit-tldr-link {
  color: rgb(0, 0, 0);

  .fa-external-link {
    opacity: 0;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none;

    .fa-external-link {
      opacity: 1.0;
      color: $link-hover-color;
    }
  }
}

.reddit-tldr-date {
  @extend .mr-1;
  font-weight: 600;
  font-size: 110%;
}

.reddit-tldr-list {
  @extend .mt-1;
  @extend .list-unstyled;

  li {
    line-height: 1.25;
    margin-bottom: 0.5rem;
  }
}

// links

.links-heading {
  @extend .mb-2;

  .links-edit-button {
    @extend .ml-2;
    opacity: 0;

    &:hover, &.links-edit-button-editing {
      opacity: 0.75;
      text-decoration: none;
    }
  }
}

.links-heading-text {
  @extend .todo-heading;
}

.links {
  @extend .row;
  @extend .mb-3;
}

.links-form {
  @extend .mx-1;
}

.links-form-heading {
  font-weight: 500;
  @extend .mb-1;
}

.links-form-form {
  @extend .form-inline;
  
  input {
    @extend .form-control;
    @extend .mr-1;
  }

  button[type=submit] {
    @extend .btn;
    @extend .btn-light;
  }
}

.link {
  @extend .col-md-3;
  position: relative;
}

.link-link {
  color: black;
  text-decoration: none;

  &:hover {
    color: black;
    text-decoration: none;

    .link-image {
      filter: brightness(115%) saturate(200%);
    }
  }
}

.link-image-container {
  padding: 1rem 2rem 0.4rem 2rem;
}

.link-image {
  @extend .img-fluid;
  @extend .mx-auto;
  @extend .d-block;
  @extend .rounded;
}

.link-name {
  @extend .text-center;
  font-weight: 200;
}

.link-edit-controls {
  position: absolute;
  top: 0;
  right: 0;

  button {
    @extend .btn;
    @extend .btn-light;
    @extend .ml-1;
    cursor: pointer;
  }
}
