// Place all the styles related to the HomeScreen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.daylight-event-time {
  font-weight: 600;
}

.daylight-event-sunrise {
  @extend .daylight-event-time;
  color: rgb(229, 148, 0);
}

.daylight-event-sunset {
  @extend .daylight-event-time;
  color: blue;
}

.clock {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.0;
}

.weather {
  position: relative;
}

.weather-refreshed-ago {
  @extend .text-right;
  @extend .text-muted;
  line-height: 1.0;
  font-size: .8rem;

  position: relative;
  bottom: 32px;
  right: 19px
}

.todo-heading {
  font-size: 1.25rem;
  font-weight: 600;
}

.todo-list {
  @extend .list-unstyled;
}

.todo-item {
  @extend .my-1;
}

.nicehash-stats-heading {
  @extend .todo-heading;
  @extend .mb-2
}

.nicehash-stats-list {
  @extend .row;

  dt {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .col-6;
    @extend .mb-1;
    font-weight: 500;
  }

  dd {
    @extend .col-6;
    @extend .text-right;
    @extend .mb-1;
  }
}

.nicehash-stats-value {
  font-size: 125%;
  font-weight: 600;
}

.nicehash-stats-units {
  font-weight: 600;
}

// links

.links-heading {
  @extend .todo-heading;
  @extend .mb-2
}

.links {
  @extend .row;
}

.link {
  @extend .col-md-3;

  color: black;
  text-decoration: none;

  &:hover {
    color: black;
    text-decoration: none;

    filter: saturate(8);
  }
}

.link-image {
  @extend .img-fluid;
  @extend .mx-auto;
  @extend .d-block;
  
  padding: 1rem 2rem;
}

.link-name {
  @extend .text-center;
  font-weight: 200;
}
