// TODO: break up

.homescreen-header {
  font-size: 1.25rem;
  font-weight: 600;
  @extend .mb-2;
}

.homescreen-header-edit-toggle {
  @extend .ml-2;
  opacity: 0;

  font-weight: normal;
  font-size: 1rem;

  &:hover, &.active {
    opacity: 0.75;
    text-decoration: none;
  }
}

.daylight-event-time {
  font-weight: 600;
}

.daylight-event-sunrise {
  @extend .daylight-event-time;
  color: rgb(229, 148, 0);
}

.daylight-event-sunset {
  @extend .daylight-event-time;
  color: blue;
}

.clock {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.0;
}

.weather {
  position: relative;
}

.weather-refreshed-ago {
  @extend .text-right;
  @extend .text-muted;
  line-height: 1.0;
  font-size: .8rem;

  position: relative;
  bottom: 32px;
  right: 19px
}
